           
<h2 class="estilo-tit1">
<p>
<abbr title="">Ce site ne conserve ni transmet les données des cartes de crédit ou débit des clients. Les données sont envoyées à travers un canal crypté et sûr à la plateforme PAYCOMET.</abbr></p>
</h2>
<h3 class="estilo-tit1" id="tarjetas">CARTES BANCAIRES LIÉES</h3>
<p>
Les clients peuvent ajouter ou éliminer les données de leurs cartes bancaires liées.  Au point Ma compte, vous trouvez « Mes cartes » où se trouvent les données des cartes enregistrées, que vous pouvez éliminer.</p>
<h3 class="estilo-tit1" id="politica_seguridad">PROCÉDURE DE SÉCURISATION DES DONNÉES</h3>
<p>
Toute l’information des transactions entre ce site et les systèmes de PAYCOMET est cryptée à travers des certificats SSL de 256bits. Toute l’information sur le titulaire est cryptée et les messages envoyés par PAYCOMET aux serveurs sont signées par hashing SHA pour éviter toute manipulation. Les données transmises aux serveurs PAYCOMET ne peuvent pas être examinées, numérisées ou modifiées par des personnes externes avec accès à l’information confidentielle.</p>
<h3 class="estilo-tit1" id="politica_seguridad">CRYPTAGE ET STOCKAGE DES DONNÉES</h3>
<p>
Les données enregistrées aux systèmes PAYCOMET sont protégées par des standards de cryptage de 1024bits. Les clés de chiffrement sont chez des systèmes de haute sécurité volatiles et double authentification pour éviter le vol des données. Les banques et agents de sécurité réalisent régulièrement des audits pour garantir la protection des données.</p>
<h3 class="estilo-tit1" id="politica_seguridad">SÉCURISATION DES SYSTÈMES</h3>
<p>
Les systèmes de PAYCOMET sont examinés tous les trois mois avec des outils spécifiques ISO, un Expert en Sécurité Qualifié (QSA) indépendant et un  fournisseur d’exploitation reconnu (ASV) par les cartes bancaires de paiement. PAYCOMET doit passer un audit chaque année d’après les standards de sécurité des données du secteur des cartes de paiement (PCI DSS) et il est un fournisseur des services de paiement Niveau 1 (niveau le plus élevé).</p>
<h3 class="estilo-tit1" id="politica_seguridad">LIENS AVEC LES ÉTABLISSEMENTS BANCAIRES</h3>
<p>
PAYCOMET a plusieurs liens privés avec des établissements bancaires sur Internet complètement indépendants et sans accès du publique. Les données sur la personne titulaire, qui sont envoyées aux établissements bancaires, et tous les messages d’autorisation, envoyés comme réponse, sont protégés et non manipulables.</p>
<h3 class="estilo-tit1" id="politica_seguridad">SÉCURISATION INTERNE</h3>
<p>
PAYCOMET est vérifié à travers des contrôles d’accès aux contextes de production. Les CPD où se trouvent les systèmes opèrent d’après les exigences pour les centres Tier III, pour garantir la sécurité. On dispose des systèmes de sécurité d’alarme, vidéosurveillance et des agents de sécurité les 24 heures sur 24, 7 jours sur 7, dans ses installations. Toute l’information sur les transactions et cartes bancaires des clients sont protégés même de nos propres employés.</p>
<h3 class="estilo-tit1" id="politica_seguridad">RÉSOLUTION DES PROBLÈMES</h3>
<p>
PAYCOMET a des systèmes de Backup dans des différents pays pour garantir la sécurité totale des systèmes et une grande disponibilité. Il dispose aussi d’une politique de continuation commerciale et de résolution totale des problèmes.</p>
</p>
<p>&nbsp;</p>