<div class="fancybox-inner" style="overflow: auto; width: 896px; height: 104px;">            <h2 class="estilo-tit1">
                  <p>
                  <abbr title="">Ce site ne conserve ni transmet les données des cartes de crédit ou débit des clients. Les données sont envoyées à travers un canal crypté et sûr à la plateforme PAYTPV.</abbr></p>
            </h2>
            <h3 class="estilo-tit1" id="tarjetas">CARTES BANCAIRES LIÉES</h3>
            <p>
            Les clients peuvent ajouter ou éliminer les données de leurs cartes bancaires liées.  Au point Ma compte, vous trouvez « Mes cartes » où se trouvent les données des cartes enregistrées, que vous pouvez éliminer.</p>
            <h3 class="estilo-tit1" id="politica_seguridad">PROCÉDURE DE SÉCURISATION DES DONNÉES</h3>
            <p>
            Toute l’information des transactions entre ce site et les systèmes de PAYTPV est cryptée à travers des certificats SSL de 256bits. Toute l’information sur le titulaire est cryptée et les messages envoyés par PAYTPV aux serveurs sont signées par hashing SHA pour éviter toute manipulation. Les données transmises aux serveurs PAYTPV ne peuvent pas être examinées, numérisées ou modifiées par des personnes externes avec accès à l’information confidentielle.</p>
            <h3 class="estilo-tit1" id="politica_seguridad">CRYPTAGE ET STOCKAGE DES DONNÉES</h3>
            <p>
            Les données enregistrées aux systèmes PAYTPV sont protégées par des standards de cryptage de 1024bits. Les clés de chiffrement sont chez des systèmes de haute sécurité volatiles et double authentification pour éviter le vol des données. Les banques et agents de sécurité réalisent régulièrement des audits pour garantir la protection des données.</p>
            <h3 class="estilo-tit1" id="politica_seguridad">SÉCURISATION DES SYSTÈMES</h3>
            <p>
            Les systèmes de PAYTPV sont examinés tous les trois mois avec des outils spécifiques ISO, un Expert en Sécurité Qualifié (QSA) indépendant et un  fournisseur d’exploitation reconnu (ASV) par les cartes bancaires de paiement. PAYTPV doit passer un audit chaque année d’après les standards de sécurité des données du secteur des cartes de paiement (PCI DSS) et il est un fournisseur des services de paiement Niveau 1 (niveau le plus élevé).</p>
            <h3 class="estilo-tit1" id="politica_seguridad">LIENS AVEC LES ÉTABLISSEMENTS BANCAIRES</h3>
            <p>
            PAYTPV a plusieurs liens privés avec des établissements bancaires sur Internet complètement indépendants et sans accès du publique. Les données sur la personne titulaire, qui sont envoyées aux établissements bancaires, et tous les messages d’autorisation, envoyés comme réponse, sont protégés et non manipulables.</p>
            <h3 class="estilo-tit1" id="politica_seguridad">SÉCURISATION INTERNE</h3>
            <p>
            PAYTPV est vérifié à travers des contrôles d’accès aux contextes de production. Les CPD où se trouvent les systèmes opèrent d’après les exigences pour les centres Tier III, pour garantir la sécurité. On dispose des systèmes de sécurité d’alarme, vidéosurveillance et des agents de sécurité les 24 heures sur 24, 7 jours sur 7, dans ses installations. Toute l’information sur les transactions et cartes bancaires des clients sont protégés même de nos propres employés.</p>
            <h3 class="estilo-tit1" id="politica_seguridad">RÉSOLUTION DES PROBLÈMES</h3>
            <p>
            PAYTPV a des systèmes de Backup dans des différents pays pour garantir la sécurité totale des systèmes et une grande disponibilité. Il dispose aussi d’une politique de continuation commerciale et de résolution totale des problèmes.</p></div>            <h2 class="estilo-tit1">
                  <p>
                  <abbr title="">Este comercio</abbr> no almacena ni transmite los datos tarjetas
                  de crédito o débito. Los datos son enviados a través de un canal cifrado y seguro a la
                  plataforma <abbr title="PayTPV On Line S.L.">PAYTPV</abbr>.
              </p>
            </h2>
            <h3 class="estilo-tit1" id="tarjetas">Tarjetas vinculadas</h3>
            <p>
            En cualquier momento, el usuario puede añadir ó eliminar los datos de sus tarjetas vinculadas. En el apartado Mi cuenta, verá un apartado "Mis tarjetas" donde se mostrarán las tarjetas almacenadas y podrán ser eliminadas.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Política de seguridad</h3>
            <p>
            Toda la información de transacciones que se transmite entre este sitio y los sistemas de PAYTPV se
            cifra mediante certificados SSL de 256 bits. Toda la información del titular se transmite cifrada y todos
            los mensajes enviados a sus servidores desde PAYTPV se firman mediante hashing SHA para evitar su manipulación.
            La información que se transmite a los servidores de PAYTPV no se puede examinar, escanear, utilizar o
            modificar por cualquier externo que obtenga acceso a información confidencial.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Cifrado y almacenamiento de datos</h3>
            <p>
            Una vez en los sistemas de PAYTPV, la información confidencial se protege utilizando estándares de
            cifrado de 1024 bits. Las claves de cifrado se mantienen en sistemas de alta seguridad volátiles y con
            doble autenticación lo que imposibilita su extracción. Bancos, agentes de seguridad y entidades
            bancarias realizan auditorías con regularidad para garantizar la protección de los datos.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Seguridad en los sistemas</h3>
            <p>
            Los sistemas de PAYTPV se examinan trimestralmente mediante herramientas específicas ISO, un Asesor de
            Seguridad Cualificado (QSA) independiente y un proveedor de exploración aprobado (ASV) por las marcas de
            tarjetas de pago.
            </p>
            <p>
            PAYTPV también se somete a una auditoría anual según los estándares de seguridad de
            datos del sector de tarjetas de pago (PCI DSS) y es un proveedor de servicios de pago de Nivel 1 totalmente
            aprobado, que es el mayor nivel de cumplimiento.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Enlaces con entidades bancarias</h3>
            <p>
            PAYTPV tiene varios enlaces privados con redes bancarias que son completamente independientes de Internet y que
            no atraviesan ninguna red de acceso público. Toda la información del titular enviada a los bancos
            y todos los mensajes de autorización enviados como respuesta están protegidos y no se pueden
            manipular.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Seguridad interna</h3>
            <p>
            PAYTPV está auditado en controles de acceso a los entornos de producción. Los CPD donde se alojan
            los sistemas operan conforme a los requisitos para los centros Tier III. De esta forma se garantiza que la
            seguridad no se ponga en riesgo en ningún momento. Se dispone de sofisticados sistemas de alarma,
            vigilancia mediante circuitos cerrados de TV y vigilantes de seguridad, presentes 24 horas al día y 7 días
            a la semana en las instalaciones, así como de una monitorización y un mantenimiento rigurosos.
            Toda la información de transacciones y tarjetas de clientes está protegida incluso de nuestros
            propios empleados.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Recuperación de desastres</h3>
            <p>
            PAYTPV dispone de sistemas de Backup alojados en diferentes países para garantizar una seguridad de
            sistemas óptima y una alta disponibilidad. Asimismo, cuenta con una política de continuación
            comercial y recuperación de desastres completa.
            </p>
            <p>&nbsp;</p>