<?xml version="1.0"?>
<config>
    <modules>
        <Mage_PayTpvCom>
            <!-- declare module's version information for database updates -->
            <version>5.6.4</version>
        </Mage_PayTpvCom>
    </modules>

    <global>
        <!-- declare model group for new module -->
        <models>
            <!-- model group alias to be used in Mage::getModel('newmodule/...') -->
            <paytpvcom>
                <!-- base class name for the model group -->
                <class>Mage_PayTpvCom_Model</class>
                <resourceModel>paytpvcom_resource</resourceModel>
            </paytpvcom>

            <paytpvcom_resource>
                <class>Mage_PayTpvCom_Model_Resource</class>
                <deprecatedNode>paytpvcom_mysql4</deprecatedNode>
                <entities>
                    <customer>
                        <table>paytpvcom_customer</table>
                    </customer>
                </entities>
            </paytpvcom_resource>
        </models>

        <!-- declare resource setup for new module -->
        <resources>
            <!-- resource identifier -->
            <paytpvcom_setup>
                <!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
                    <!-- which module to look for install/upgrade files in -->
                    <module>Mage_PayTpvCom</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <!-- specify database connection for this resource -->
                <connection>
                    <!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </paytpvcom_setup>
            
            <paytpvcom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paytpvcom_write>
            <paytpvcom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paytpvcom_read>
        </resources>
        <blocks>
            <paytpvcom>
                <class>Mage_PayTpvCom_Block</class>
            </paytpvcom>
        </blocks>
        <helpers>
            <paytpvcom>
                <class>Mage_PayTpvCom_Helper</class>
            </paytpvcom>
        </helpers>
    </global>

    <frontend>
        <secure_url>
            <paytpvcom_standard>/paytpvcom/standard</paytpvcom_standard>
        </secure_url>
        <routers>
            <paytpvcom>
                <use>standard</use>
                <args>
                    <module>Mage_PayTpvCom</module>
                    <frontName>paytpvcom</frontName>
                </args>
            </paytpvcom>
        </routers>
        <translate>
            <modules>
                <Mage_PayTpvCom>
                    <files>
                        <default>Mage_PayTpvCom.csv</default>
                    </files>
                </Mage_PayTpvCom>
            </modules>
        </translate>
        <layout>
            <updates>
                <paytpvcom>
                    <file>paytpvcom.xml</file>
                </paytpvcom>
            </updates>
        </layout>
        <events>
            <sales_order_place_after>
                <observers>
                    <mage_paytpvcom_order_observer>
                        <type>singleton</type>
                        <class>paytpvcom/observer</class>
                        <method>saveOrderInfo</method>
                    </mage_paytpvcom_order_observer>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_save_after>
                <observers>
                    <mage_paytpvcom_order_observer>
                        <type>singleton</type>
                        <class>paytpvcom/observer</class>
                        <method>automaticallyInvoiceShipCompleteOrder</method>
                    </mage_paytpvcom_order_observer>
               </observers>
            </sales_order_invoice_save_after>
            <checkout_submit_all_after>
                <observers>
                    <redirect_to_3ds>
                        <class>paytpvcom/observer</class>
                        <method>checkout_submit_all_after</method>
                    </redirect_to_3ds>
                </observers>
            </checkout_submit_all_after>
        </events>
    </frontend>


    <adminhtml>
        <layout>
            <updates>
                <paytpvcom>
                    <file>paytpvcom.xml</file>
                </paytpvcom>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mage_PayTpvCom>
                    <files>
                        <default>Mage_PayTpvCom.csv</default>
                    </files>
                </Mage_PayTpvCom>
            </modules>
        </translate>
     </adminhtml>

    <!-- declare default configuration values for this module -->
    <default>
        <!-- 'payment' configuration section (tab) -->
        <payment>
            <!-- 'newmodule' configuration group (fieldset) -->
            <paytpvcom>
                <!-- by default this payment method is inactive -->
                <active>0</active>
                <!-- model to handle logic for this payment method -->
                <model>paytpvcom/standard</model>
                <!-- order status for new orders paid by this payment method -->
                <order_status>pending</order_status>
                <paid_status>processing</paid_status>
                <error_status>canceled</error_status>
                <useccv>1</useccv>
                <payment_action>redirect</payment_action>
                <!-- default title for payment checkout page and order view page -->
                <title>Tarjeta de crédito/débito (PAYCOMET)</title>
                <sort_order>-999</sort_order>
                <terminales>0</terminales>                
                <transaction_type>0</transaction_type>
                <secure_first>1</secure_first>
                <secure_amount>1000</secure_amount>
                <show_nameoncard>1</show_nameoncard>
                <show_cctypes>1</show_cctypes>
                <operationcall>0</operationcall>
                <currency>EUR</currency>
                <paytpviframe>0</paytpviframe>
                <paytpviframe_height>440</paytpviframe_height>
                <paytpvfullscreen>0</paytpvfullscreen>
                <remembercardselected>0</remembercardselected>
            </paytpvcom>
            <paytpvcombizum>
                <!-- by default this payment method is inactive -->
                <activebizum>0</activebizum>
                <!-- model to handle logic for this payment method -->
                <model>paytpvcom/standardBizum</model>
                <!-- order status for new orders paid by this payment method -->
                <order_status>pending</order_status>
                <paid_status>processing</paid_status>
                <error_status>canceled</error_status>
                <!-- default title for payment checkout page and order view page -->
                <title>Bizum</title>
            </paytpvcombizum>
        </payment>
    </default>
</config>
