<?xml version="1.0"?>
<config>

    <sections>
        
        <!-- payment tab -->
        <payment>
            <groups>
                <!-- newmodule fieldset -->
                <paytpvcom translate="label" module="paygate">
                    <!-- will have title 'New Module' -->
                    <label>Credit Card Paytpv</label>
                    <!-- position between other payment methods -->
                    <sort_order>671</sort_order>
                    <!-- do not show this configuration options in store scope -->
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <!-- is this payment method active for the website? -->
                        <active translate="label">
                            <!-- label for the field -->
                            <label>Enabled</label>
                            <!-- input type for configuration value -->
                            <frontend_type>select</frontend_type>
                            <!-- model to take the option values from -->
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <!-- field position -->
                            <sort_order>10</sort_order>
                            <!-- do not show this field in store scope -->
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <operativa translate="label">
                            <label>Operation method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paytpvcom/system_config_source_operativas</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </operativa>
                        <transaction_type translate="label">
                            <label>Transaction type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paytpvcom/system_config_source_transactions</source_model>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </transaction_type>
                        <terminales translate="label">
                            <label>Terminals available</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paytpvcom/system_config_source_terminales</source_model>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><operativa>1</operativa></depends>
                        </terminales>
                        <integracion translate="label">
                            <label>Integration method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paytpvcom/system_config_source_integraciones</source_model>
                            <sort_order>36</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><operativa>0</operativa></depends>
                        </integracion>
                        <secure_first translate="label">
                            <label>Use 3D Secure first purchase</label>
                            <comment>Secure Terminal: all purchases with 3D Secure. No Secure Terminal: all purchases without 3D Secure.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>33</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><operativa>1</operativa></depends>
                        </secure_first>
                        <secure_amount translate="label">
                            <label>Use 3D Secure in purchases above</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>34</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><operativa>1</operativa><terminales>2</terminales></depends>
                        </secure_amount>

                        <commerce_password translate="label">
                            <label>Commerce password required in saved cards purchase</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><operativa>1</operativa></depends>
                        </commerce_password>

                        <user translate="label">
                            <label>User Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><operativa>0</operativa></depends>
                        </user>
                        <pass translate="label">
                            <label>User Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pass>
                        <terminal translate="label">
                            <label>Terminal number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </terminal>
                        <client translate="label">
                            <label>Client Code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </client>
                        <!--
                        <activesuscriptions translate="label">
                            <label>Active Subscriptions</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>61</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><operativa>1</operativa></depends>
                        </activesuscriptions>
                        -->
                        <sendmailinvoicecreation translate="label">
                            <label>Send Invoice Mail</label>
                            <comment>Send invoice mail automatically to the customer when invoice is created</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>87</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><operativa>1</operativa></depends>
                        </sendmailinvoicecreation>
                        <operationcall translate="label">
                            <label>Operation call</label>
                            <comment>Get CardBrand and BicCode</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>88</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><operativa>1</operativa></depends>
                        </operationcall>
                        <show_nameoncard translate="label">
                            <label>Show Name on Card</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>89</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><operativa>1</operativa></depends>
                        </show_nameoncard>
                        <show_cctypes translate="label">
                            <label>Show Credit Card Types</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><operativa>1</operativa></depends>
                        </show_cctypes>
                        <cctypes translate="label">
                            <label>Credit Card Types</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_payment_cctype</source_model>
                            <sort_order>91</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <depends><operativa>1</operativa><show_cctypes>1</show_cctypes></depends>
                        </cctypes>
                        
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <comment>Payment method position</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                    </fields>
                </paytpvcom>
            </groups>
        </payment>
    
    </sections>
</config>
