            <h2 class="estilo-tit1">
                  <p>
                  <abbr title="">Este comercio</abbr> no almacena ni transmite los datos tarjetas
                  de crédito o débito. Los datos son enviados a través de un canal cifrado y seguro a la
                  plataforma <abbr title="PayTPV On Line S.L.">PAYTPV</abbr>.
              </p>
            </h2>
            <h3 class="estilo-tit1" id="tarjetas">Tarjetas vinculadas</h3>
            <p>
            En cualquier momento, el usuario puede añadir ó eliminar los datos de sus tarjetas vinculadas. En el apartado Mi cuenta, verá un apartado "Mis tarjetas" donde se mostrarán las tarjetas almacenadas y podrán ser eliminadas.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Política de seguridad</h3>
            <p>
            Toda la información de transacciones que se transmite entre este sitio y los sistemas de PAYTPV se
            cifra mediante certificados SSL de 256 bits. Toda la información del titular se transmite cifrada y todos
            los mensajes enviados a sus servidores desde PAYTPV se firman mediante hashing SHA para evitar su manipulación.
            La información que se transmite a los servidores de PAYTPV no se puede examinar, escanear, utilizar o
            modificar por cualquier externo que obtenga acceso a información confidencial.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Cifrado y almacenamiento de datos</h3>
            <p>
            Una vez en los sistemas de PAYTPV, la información confidencial se protege utilizando estándares de
            cifrado de 1024 bits. Las claves de cifrado se mantienen en sistemas de alta seguridad volátiles y con
            doble autenticación lo que imposibilita su extracción. Bancos, agentes de seguridad y entidades
            bancarias realizan auditorías con regularidad para garantizar la protección de los datos.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Seguridad en los sistemas</h3>
            <p>
            Los sistemas de PAYTPV se examinan trimestralmente mediante herramientas específicas ISO, un Asesor de
            Seguridad Cualificado (QSA) independiente y un proveedor de exploración aprobado (ASV) por las marcas de
            tarjetas de pago.
            </p>
            <p>
            PAYTPV también se somete a una auditoría anual según los estándares de seguridad de
            datos del sector de tarjetas de pago (PCI DSS) y es un proveedor de servicios de pago de Nivel 1 totalmente
            aprobado, que es el mayor nivel de cumplimiento.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Enlaces con entidades bancarias</h3>
            <p>
            PAYTPV tiene varios enlaces privados con redes bancarias que son completamente independientes de Internet y que
            no atraviesan ninguna red de acceso público. Toda la información del titular enviada a los bancos
            y todos los mensajes de autorización enviados como respuesta están protegidos y no se pueden
            manipular.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Seguridad interna</h3>
            <p>
            PAYTPV está auditado en controles de acceso a los entornos de producción. Los CPD donde se alojan
            los sistemas operan conforme a los requisitos para los centros Tier III. De esta forma se garantiza que la
            seguridad no se ponga en riesgo en ningún momento. Se dispone de sofisticados sistemas de alarma,
            vigilancia mediante circuitos cerrados de TV y vigilantes de seguridad, presentes 24 horas al día y 7 días
            a la semana en las instalaciones, así como de una monitorización y un mantenimiento rigurosos.
            Toda la información de transacciones y tarjetas de clientes está protegida incluso de nuestros
            propios empleados.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Recuperación de desastres</h3>
            <p>
            PAYTPV dispone de sistemas de Backup alojados en diferentes países para garantizar una seguridad de
            sistemas óptima y una alta disponibilidad. Asimismo, cuenta con una política de continuación
            comercial y recuperación de desastres completa.
            </p>
            <p>&nbsp;</p>