            <h2 class="estilo-tit1">
                  <p>
                  <abbr title="">Esta loja</abbr> não guarda nem transmite os dados de cartões de crédito ou débito. Os dados são enviados através de um canal codificado e seguro para a plataforma <abbr title="PayTPV On Line S.L.">PAYTPV</abbr>.
              </p>
            </h2>
            <h3 class="estilo-tit1" id="tarjetas">Cartões vinculados</h3>
            <p>
            A qualquer momento, o utilizador pode acrescentar ou eliminar os dados dos seus cartões vinculados. Na secção A Minha Conta, verá uma secção "Os meus cartões" onde aparecerão os cartões guardados e poderão ser eliminados.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Política de segurança</h3>
            <p>
            Toda a informação sobre transações transmitida entre este site e os sistemas de PAYTPV é codificada por certificados SSL de 256 bits. Toda a informação do titular é transmitida codificada e todas as mensagens enviadas aos seus servidores pela PAYTPV são assinadas por hashing SHA para evitar a sua manipulação. A informação que se transmite aos servidores da PAYTPV não podem ser examinadas, digitalizar, utilizar ou modificar por qualquer externo que obtenha acesso a informação confidencial.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Codificação e armazenamento de dados</h3>
            <p>
            Depois de entrar para os sistemas da PAYTPV, a informação confidencial fica protegida utilizando normas de codificação de 1024 bits. As chaves de codificação mantêm-se em sistemas de alta segurança voláteis e dupla autenticação, o que impossibilita a sua extração. Bancos, agentes de segurança e entidades bancárias realizam regularmente auditorias para garantir a proteção dos dados.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Segurança nos sistemas</h3>
            <p>
            Os sistemas da PAYTPV são examinados trimestralmente mediante ferramentas específicas ISO, um Assessor de Segurança Qualificado (QSA) independente e um prestador de exploração aprovado (ASV) pelas marcas de cartões de pagamento.
            </p>
            <p>
            A PAYTPV também é submetida a uma auditoria anual segundo as normas de segurança de dados do setor de cartões de pagamento (PCI DSS) e é um prestador de serviços de pagamento de Nível 1 totalmente aprovado, que é o maior nível de cumprimento.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Ligações a entidades bancárias</h3>
            <p>
            A PAYTPV tem várias ligações privados a redes bancárias que são completamente independentes da Internet e que não atravessam nenhuma rede de acesso público. Toda a informação do titular enviada para os bancos e todas as mensagens de autorização enviadas como resposta estão protegidas e não podem ser manipuladas.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Segurança interna</h3>
            <p>
            A PAYTPV está auditada em controlos de acesso aos ambientes de produção. Os CPD onde se aloja os sistemas operam conforme os requisitos para os centros Tier III. Desta forma, garante-se que a segurança nunca fica em risco. Dispõe-se de sofisticados sistemas de alarme, vigilância mediante circuitos fechados de TV e vigilantes de segurança, presentes 24 horas por dia e 7 dias por semana nas instalações, assim como de uma monitorização e uma manutenção rigorosas. Toda a informação sobre transações e cartões de clientes está protegida inclusive dos nossos próprios empregados.
            </p>
            <h3 class="estilo-tit1" id="politica_seguridad">Recuperação de desastres</h3>
            <p>
            A PAYTPV tem sistemas de Backup alojados em diferentes países para garantir uma segurança de sistemas ótima e uma alta disponibilidade. Tem igualmente uma política de continuação comercial e recuperação de desastres completa.
            </p>
            <p>&nbsp;</p>